/* Atomic - Mode 1 */
:root {
  --Common-0: #000000ff;
  --Common-100: #ffffffff;
  --Neutral-_0: var(--Common-0);
  --Neutral-5: #0f0f0fff;
  --Neutral-10: #171717ff;
  --Neutral-15: #1c1c1cff;
  --Neutral-20: #2a2a2aff;
  --Neutral-22: #303030ff;
  --Neutral-30: #474747ff;
  --Neutral-40: #5c5c5cff;
  --Neutral-50: #737373ff;
  --Neutral-60: #8a8a8aff;
  --Neutral-70: #9b9b9bff;
  --Neutral-80: #b0b0b0ff;
  --Neutral-90: #c4c4c4ff;
  --Neutral-95: #dcdcdcff;
  --Neutral-99: #f7f7f7ff;
  --Neutral-_100: var(--Common-100);
  --Cool-Neutral-_0: var(--Common-0);
  --Red-_0: var(--Common-0);
  --Red-Orange-_0: var(--Common-0);
  --Red-Orange-10: #290f00ff;
  --Red-Orange-20: #592100ff;
  --Red-Orange-30: #913500ff;
  --Red-Orange-40: #c94a00ff;
  --Red-Orange-48: #f55a00ff;
  --Red-Orange-50: #ff5e00ff;
  --Red-Orange-60: #ff7b2eff;
  --Red-Orange-70: #ff9b61ff;
  --Red-Orange-80: #ffbd96ff;
  --Red-Orange-90: #fed9c4ff;
  --Red-Orange-95: #feeee5ff;
  --Red-Orange-99: #fffaf7ff;
  --Red-Orange-_100: var(--Common-100);
  --Red-10: #3b0101ff;
  --Red-20: #730303ff;
  --Red-30: #b00c0cff;
  --Red-40: #e52222ff;
  --Red-50: #ff4242ff;
  --Red-60: #ff6363ff;
  --Red-70: #ff8c8cff;
  --Red-80: #ffb5b5ff;
  --Red-90: #fed5d5ff;
  --Red-95: #feececff;
  --Red-99: #fffafaff;
  --Red-_100: var(--Common-100);
  --Orange-_0: var(--Common-0);
  --Orange-10: #361e00ff;
  --Orange-20: #663a00ff;
  --Orange-30: #9c5800ff;
  --Orange-39: #d17600ff;
  --Orange-40: #d47800ff;
  --Orange-50: #ff9200ff;
  --Orange-60: #ffa938ff;
  --Orange-70: #ffc06eff;
  --Orange-80: #ffd49cff;
  --Orange-90: #fee6c6ff;
  --Orange-95: #fef4e6ff;
  --Orange-99: #fffcf7ff;
  --Orange-_100: var(--Common-100);
  --Lime-0: var(--Common-0);
  --Lime-10: #112900ff;
  --Lime-20: #225200ff;
  --Lime-30: #347d00ff;
  --Lime-37: #429e00ff;
  --Lime-40: #48ad00ff;
  --Lime-50: #58cf04ff;
  --Lime-60: #6be016ff;
  --Lime-70: #88f03eff;
  --Lime-80: #aef779ff;
  --Lime-90: #ccfca9ff;
  --Lime-95: #e6ffd4ff;
  --Lime-99: #f8fff2ff;
  --Lime-100: var(--Common-100);
  --Green-_0: var(--Common-0);
  --Green-10: #00240cff;
  --Green-20: #004517ff;
  --Green-30: #006e25ff;
  --Green-40: #009632ff;
  --Green-50: #00bf40ff;
  --Green-60: #1ed45aff;
  --Green-70: #49e57dff;
  --Green-80: #7df5a5ff;
  --Green-90: #acfcc7ff;
  --Green-95: #d9ffe6ff;
  --Green-99: #f2fff6ff;
  --Green-_100: var(--Common-100);
  --Cool-Neutral-5: #0f0f10ff;
  --Cool-Neutral-7: #141415ff;
  --Cool-Neutral-10: #171719ff;
  --Cool-Neutral-15: #1b1c1eff;
  --Cool-Neutral-17: #212225ff;
  --Cool-Neutral-20: #292a2dff;
  --Cool-Neutral-22: #2e2f33ff;
  --Cool-Neutral-23: #333438ff;
  --Cool-Neutral-25: #37383cff;
  --Cool-Neutral-30: #46474cff;
  --Cool-Neutral-40: #5a5c63ff;
  --Cool-Neutral-50: #70737cff;
  --Cool-Neutral-60: #878a93ff;
  --Cool-Neutral-70: #989ba2ff;
  --Cool-Neutral-80: #aeb0b6ff;
  --Cool-Neutral-90: #c2c4c8ff;
  --Cool-Neutral-95: #dbdcdfff;
  --Cool-Neutral-96: #e1e2e4ff;
  --Cool-Neutral-97: #eaebecff;
  --Cool-Neutral-98: #f4f4f5ff;
  --Cool-Neutral-99: #f7f7f8ff;
  --Cool-Neutral-_100: var(--Common-100);
  --Cyan-0: var(--Common-0);
  --Cyan-10: #00252bff;
  --Cyan-20: #004854ff;
  --Cyan-30: #006f82ff;
  --Cyan-40: #0098b2ff;
  --Cyan-50: #00bddeff;
  --Cyan-60: #28d0edff;
  --Cyan-70: #57dff7ff;
  --Cyan-80: #8aedffff;
  --Cyan-90: #b5f4ffff;
  --Cyan-95: #defaffff;
  --Cyan-99: #f7feffff;
  --Cyan-100: var(--Common-100);
  --Light-Blue-0: var(--Common-0);
  --Light-Blue-10: #002130ff;
  --Light-Blue-20: #004261ff;
  --Light-Blue-30: #006796ff;
  --Light-Blue-40: #008dcfff;
  --Light-Blue-50: #00aeffff;
  --Light-Blue-60: #3dc2ffff;
  --Light-Blue-70: #70d2ffff;
  --Light-Blue-80: #a1e1ffff;
  --Light-Blue-90: #c4ecfeff;
  --Light-Blue-95: #e5f6feff;
  --Light-Blue-99: #f7fdffff;
  --Light-Blue-100: var(--Common-100);
  --Blue-_0: var(--Common-0);
  --Blue-10: #001536ff;
  --Blue-20: #002966ff;
  --Blue-30: #003e9cff;
  --Blue-40: #0054d1ff;
  --Blue-45: #005eebff;
  --Blue-50: #0066ffff;
  --Blue-55: #1a75ffff;
  --Blue-60: #3385ffff;
  --Blue-65: #4f95ffff;
  --Blue-70: #69a5ffff;
  --Blue-80: #9ec5ffff;
  --Blue-90: #c9defeff;
  --Blue-95: #eaf2feff;
  --Blue-99: #f7fbffff;
  --Blue-_100: var(--Common-100);
  --Violet-0: var(--Common-0);
  --Violet-10: #11024dff;
  --Violet-20: #23098fff;
  --Violet-30: #3a16c9ff;
  --Violet-40: #4f29e5ff;
  --Violet-45: #5b37edff;
  --Violet-50: #6541f2ff;
  --Violet-60: #7d5ef7ff;
  --Violet-70: #9e86fcff;
  --Violet-80: #c0b0ffff;
  --Violet-90: #dbd3feff;
  --Violet-95: #f0ecfeff;
  --Violet-99: #fbfaffff;
  --Violet-100: var(--Common-100);
  --Purple-0: var(--Common-0);
  --Purple-10: #290247ff;
  --Purple-20: #580a7dff;
  --Purple-30: #861cb8ff;
  --Purple-40: #ad36e3ff;
  --Purple-50: #cb59ffff;
  --Purple-60: #d478ffff;
  --Purple-70: #de96ffff;
  --Purple-80: #e9baffff;
  --Purple-90: #f2d6ffff;
  --Purple-95: #f9edffff;
  --Purple-99: #fefbffff;
  --Purple-100: var(--Common-100);
  --Pink-0: var(--Common-0);
  --Pink-10: #3d0133ff;
  --Pink-20: #730560ff;
  --Pink-30: #a81690ff;
  --Pink-40: #d331b8ff;
  --Pink-46: #e846cdff;
  --Pink-50: #f553daff;
  --Pink-60: #fa73e3ff;
  --Pink-70: #ff94edff;
  --Pink-80: #ffb8f3ff;
  --Pink-90: #fed3f7ff;
  --Pink-95: #feecfbff;
  --Pink-99: #fffafeff;
  --Pink-100: var(--Common-100);
  --Opacity-0: 0px;
  --Opacity-5: 5px;
  --Opacity-8: 8px;
  --Opacity-12: 12px;
  --Opacity-16: 16px;
  --Opacity-22: 22px;
  --Opacity-28: 28px;
  --Opacity-35: 35px;
  --Opacity-43: 43px;
  --Opacity-52: 52px;
  --Opacity-61: 61px;
  --Opacity-74: 74px;
  --Opacity-88: 88px;
  --Opacity-97: 97px;
  --Opacity-100: 100px;
}

/* Semantic */
:root {
  --Primary-Normal: #f94920ff;
  /* --Primary-Normal: #23098fff; */
  --BG-Normal: #23130fff;
}
