@import url(./fonts.css);
@import url(./bg.css);
@import url(./colors.css);
@layer page, component;

:root {
  --vp-font-family-base: "Pretandard Variable";
  --vp-font-family-mono: "Fira Code";
}

.dark {
  --vp-c-border: #5c1b0c;
  --vp-c-divider: #f94920;
  --vp-c-gutter: #f94920;
}
@layer page {
  body {
    background: var(--Neutral-15);
    display: flex;
    justify-content: safe center;
    overflow-x: auto;

    font-family: "Pretandard  Variable";
  }
}
